CMakeCache.txt
Makefile
src/cmake_install.cmake
CMakeFiles
bin
.DS_Store
*.opus
OpenGPWS.zip
OpenGPWS
src/libOpenGPWS.xpl.dll.a
notarize/AuditInfo.json
notarize/ExportOptions.plist
notarize/RequestInfo.plist
notarize/UploadInfo.plist
notarize/user.make
