CMakeCache.txt
Makefile
src/cmake_install.cmake
CMakeFiles
bin
.DS_Store
*.opus
OpenGPWS.zip
OpenGPWS
src/libOpenGPWS.xpl.dll.a
notarize/notarization.plist
notarize/submission.plist
notarize/verbose.json
