<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createdDate</key>
	<string>2024-03-27T16:04:05.280Z</string>
	<key>id</key>
	<string>232061d5-042f-488f-b508-c9526b2895ce</string>
	<key>message</key>
	<string>Successfully received submission info</string>
	<key>name</key>
	<string>OpenGPWS.rBYeYv.zip</string>
	<key>status</key>
	<string>Accepted</string>
</dict>
</plist>

